$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
	xl: $max-width
) !default;


@function breakpoint-next($name, $breakpoints: $grid-breakpoints, $breakpoint-names: map-keys($breakpoints)) {
    $n: index($breakpoint-names, $name);
    @return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}

@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
    $min: map-get($breakpoints, $name);
    @return if($min != 0, $min, null);
}

@function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
    $next: breakpoint-next($name, $breakpoints);
    @return if($next, breakpoint-min($next, $breakpoints) - 1px, null);
}

@mixin media($media) {
    $breakpoint: breakpoint-min($media);
    @include breakpoint($breakpoint) {
        @content;
    }
}

@mixin media-down($media) {
    $breakpoint: breakpoint-min($media);
    @include breakpoint(max-width $breakpoint) {
        @content;
    }
}

@mixin media-only($media) {
    
    $min: breakpoint-min($media);
    $max: breakpoint-max($media);
    
    @include breakpoint($min $max) {
        @content;
    }
}
