// Fonts
// ==========================================================================
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$opensans:                   'Open Sans', sans-serif;


// colors - always define a color variable as $color-
// ==========================================================================
$color-cherry:                #de6262;
$color-peach:                 #ffb88c;
$color-black:                 #000000;
$color-darkgrey:              #2b2b2b;
$color-white:                 #ffffff;
$color-whitegrey:             #f7f7f9;
$color-lightgrey:             #E3E3E3;
$color-grey:                  #b4b4b4;

$color-font:                  $color-darkgrey;
$color-primary:               $color-cherry;

$color-primary-gradient:               linear-gradient(90deg, $color-cherry, $color-peach);
$color-primary-gradient-reversed:      linear-gradient(-90deg, $color-cherry, $color-peach);

// custom variables
// ==========================================================================
$max-width:                   1200px;
$sidebar-first-width:         250px;
$sidebar-second-width:        250px;
$gutter-mobile:               15px;
$gutter:                      30px;
$content-padding:             15px;
$border-radius-default:       2px;

