@import 'base';

*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
}

html {
	font-size: 14px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: $opensans;
	color: $color-font;
}

body {
	background-color: $color-whitegrey;
	line-height: 1.4;
}

.l-main {
	display: flex;
	flex-flow: column wrap;
}

.container {
	@include container;
}

.l-content {
	@include container;
	align-content: flex-start;
	
	@include media(md) {
		margin-top: $gutter;
	}
}

.page-enter-active,
.page-leave-active {
	@include transition();
}

.page-enter,
.page-leave-active {
	opacity: 0
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

.title {
	@include title;
}

.one-third {
	@include media(md) {
		lost-column: 1/3 3 $content-padding;
	}
}

.one-fourth {
	@include media(md) {
		lost-column: 1/4 4 $content-padding;
	}
}
